*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: sans-serif;
    outline: none;
}
.condainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.calculator{
    background-color: black;
    padding: 15px;
    border-radius: 30px;
    border: 5px solid yellow;
    box-shadow: inset 5px 5px 12px #ffffff;
    box-shadow: inset -3px -5px 22px 3px rgb(5, 5, 6);    display: grid;
    grid-template-columns: repeat(4,68px);
    /* background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff;
    box-shadow: inset -3px -5px 22px 3px rgb(95, 95, 202);    display: grid;
    grid-template-columns: repeat(4,68px); */

}
input{
    grid-column: span 4;
    height: 70px;
    width:260px ;
    background-color:#ecf0f3 ;
    box-shadow: inset -5px -5px 12px #ffffff;
    box-shadow: inset -5px -5px 12px rgb(95, 95, 202);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff;
    box-shadow: inset -5px -5px 12px rgb(95, 95, 202);
    border: none;
    border-radius: 30%;
    margin: 8px;
    font-size: 16px;

}
#equal{
    width: 100px;
    margin-left: 130%;
    border-radius: 20%;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff;
    box-shadow: inset -5px -5px 12px rgb(95, 95, 202);

}
button:hover{
    background-color: yellow;
    color: red;
    box-shadow: none;
    font-size: 40px;

    
}
#del:hover{
    font-size: 20px;
}

#equal:hover{
    background-color: yellow;
    box-shadow: none;
}
@media (max-width: 374px) {
    .calculator{
        transform: scale(1.3);
    }
  }